@model WebBancoSucursales.ViewModels.BancoVM
@{
    ViewBag.Title = "Banco";
}

@using (Html.BeginForm("Administrar", "Banco", FormMethod.Post))
{
    <div>
        @Html.HiddenFor(m => m.IdBanco)
    </div>
    <div>Nombre</div>
    <div>@Html.TextBoxFor(m => m.Nombre)</div>
    <div>Direccion</div>
    <div>@Html.TextBoxFor(m => m.Direccion)</div>
    <div>Fecha Registro</div>
    <div>@(Model.FechaRegistro.HasValue ? Model.FechaRegistro.Value.ToShortDateString() : string.Empty)</div>
    <div style="height:80px">
    </div>
    <div>
        @if (Model.IdBanco.HasValue)
        {
            @Html.ActionLink("Ver Sucursales", "ListarSucursalBanco", "Banco", new { idBanco = Model.IdBanco.Value }, null)
        }
    </div>
    <div>
        <input type="submit" value="Guardar" />
    </div>
}