@model WebBancoSucursales.ViewModels.BancoVM
<div>
    @Html.ActionLink("Nuevo", "AdministrarSucursal", "Banco", new { idBanco = Model.IdBanco }, null)
</div>
<div>
    <input type="hidden" value="@Model.IdBanco" />
</div>
<div style="height:40px">
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>DIRECCIÓN</th>
                <th>FECHA CREACIÓN</th>
                <th></th>
            </tr>
        </thead>
        @if (Model.Sucursales != null && Model.Sucursales.Count > 0)
        {
            <tbody>
                @foreach (var item in Model.Sucursales)
                {
                    <tr>
                        <td>
                            @item.IdSucursal.Value
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.Direccion
                        </td>
                        <td>
                            @(item.FechaRegistro.HasValue ? item.FechaRegistro.Value.ToShortDateString() : string.Empty)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "AdministrarSucursal", "Banco", new { idSucursal = item.IdSucursal.Value }, null)
                        </td>
                    </tr>
                }
            </tbody>
        }
        else
        {
            <tbody>
                <tr>
                    <td>No existen registros</td>
                </tr>
            </tbody>
        }
    </table>
</div>